{% extends 'base.html' %}
{% block body %}
<!doctype html>
<html lang="en">
<h3>About Me </h3>
<div>
    <p>
        i am arif , i leave in dhaka city, ia'm a python devloper. so everybody hire me.
    </p>
    <h4>About Bangladesh </h4>
    <p>
        Bangladesh is a middle power and a developing nation. Listed as one of the Next Eleven, its economy ranks 43th in terms
        of nominal gross domestic product and 29th in terms of purchasing power parity. It is one of the largest textile exporters
        in the world. Its major trading partners are the European Union, the United States, China, India, Japan, Malaysia and Singapore. With its strategically vital location between South, East and Southeast Asia, Bangladesh is an important promoter of regional connectivity and cooperation. It is a founding member of SAARC, BIMSTEC, the Bangladesh-China-India-Myanmar Forum for Regional Cooperation and the Bangladesh Bhutan India Nepal Initiative. It is also a member of the Organisation of Islamic Cooperation, Commonwealth of Nations, the Developing 8 Countries, the OIC, the Indian-Ocean Rim Association, the Non Aligned Movement, the Group of 77 and the World Trade Organization. Bangladesh is one of the largest contributors to United Nations peacekeeping forces.
    </p>
{% endblock  %}